<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAS.DNNDataBase.DataBaseManagement.Properties.Settings.intranetdnnConnectionString"
            connectionString="Data Source=CAS_06\SQLEXPRESS;Initial Catalog=intranetdnn;Persist Security Info=True;User ID=sa;Password=!cas@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>