<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="import.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=dom\sqlexpress2;Integrated Security=SSPI;Initial Catalog=master" providerName="System.Data.OleDb"/>
        <add name="import.Properties.Settings.DatabaseDNNConnectionString" connectionString="Data Source=CAS_06\SQLEXPRESS;Initial Catalog=intranetdnn;Integrated Security=False;User ID=sa;Password=!cas@" providerName="System.Data.SqlClient"/>
        <add name="import.Properties.Settings.OutlookAccessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\app_data\kontakty.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <applicationSettings>
        <import.Properties.Settings>
            <setting name="import_dnncontacts_Contacts" serializeAs="String">
                <value>http://192.168.0.100/dnn/DesktopModules/OnyakTech.Contacts.WS/ContactsWS.asmx</value>
            </setting>
        </import.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
